<h1>Products</h1>

<div *ngFor="let product of products" class="product">
  <img src="{{product.imageUrl}}" />
  <h3 class="title">{{product.name}}</h3>
  <div class="description">{{product.description}}</div>
  <span class="price">{{getPrice(product.price) | currency:'USD'}}</span>
  <app-quantity *ngIf="hasQuantityInCart(product.id)" [id]="product.id"></app-quantity>
  
  <button *ngIf="!hasQuantityInCart(product.id)" class="add-to-cart" (click)="increaseQuantity(product.id)">Add to cart</button>
</div>