* {
  text-align: center;
}

.product {
  width: 300px;
  margin: 25px;
  padding: 10px 20px;
  border: 2px solid wheat;
  display: inline-block;
  vertical-align: top;
}

.product img {
  width: 250px;
  display: block;
  margin: 0 auto;
}

.product .description {
  margin: 10px 0;
  text-align: justify;
}

.product .price {
  font-weight: bold;
  font-size: 18px;
  display: block;
}

.add-to-cart {
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 10px;
  background: #f5deb3;
  font-weight: bold;
  border: 0;
}

