.product-in-cart { 
  margin: 20px;
  border: 2px solid wheat;
  width: 1000px;
}

img {
  height: 150px;
  width: 200px;
  vertical-align: middle; 
  margin-right: 20px;
}

h3 { 
  display: inline-block;
  width: 400px;
}

.price, .total-price, .checkout {
  font-weight: bold;
  font-size: 18px;
}

app-quantity {
  margin-left: 30px;
}

.remove-item, .checkout {
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 10px;
  margin-left: 30px;
  background: #f5deb3;
  font-weight: bold;
  border: 0;
}

.total {
  width: 850px;
  margin: 20px;
  font-size: 20px;
  text-align: right;
}

.no-products {
  font-size: 24px;
  margin: 20px;
}