

<h1>Cart</h1>
<div *ngIf="hasProductsInCart">
  <div class="products">
    <div *ngFor="let product of productsInCart" class="product-in-cart">
      <img src="{{product.imageUrl}}"/>
      <h3>{{product.name}}</h3>
      <span class="price">{{getPrice(product.id, product.price) | currency:'USD'}}</span>
      <app-quantity [id]="product.id" (removeItem)="removeItem($event)"></app-quantity>
      <button class="remove-item" (click)="removeItem(product.id)">Remove</button>
    </div>
  </div>
  <div class="total">
    Total price: <span class="total-price">{{totalPrice | currency:'USD'}}</span>
    <button (click)="checkout()" class="checkout"> Checkout </button>
  </div>
</div>

<div *ngIf="!hasProductsInCart" class="no-products"> No products in cart yet. Check our products</div>
