.cart-btn {
  font-size: 20px;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 0;
  background: #f5deb3;
  border: 0;
  position: relative;
}

.products-btn {
  font-size: 20px;
  border-radius: 30px;
  height: 60px;
  padding: 5px 20px;
  background: #f5deb3;
  border: 0;
  margin:0 20px;
}

.total-quantity {
  background: #000;
    color: #fff;
    border-radius: 30px;
    width: 20px;
    height: 20px;
    padding: 2px;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 80%;
}