<nav>
  <button class="products-btn" routerLink="" routerLinkActive="active">Products</button>
  <button class="cart-btn" routerLink="/cart" routerLinkActive="active">
    Cart 
    <span class="total-quantity" *ngIf="totalQuantity !== 0">{{totalQuantity}}</span>
  </button>
</nav>
<router-outlet></router-outlet>